/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	font-family: sans-serif;
}

body, h1, ul, li {
  	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}



/* LOGO STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
  	margin-left: 5px;
	padding: 5px 0;
  	font-size: 24px;
 	background: #ffee91;
 }

h1 a {
  	display: block;
}



/* MENU STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

div.row {
	height: 80px;
	background: #4C493E;
}

nav {
  	margin-right: 5px;
}

ul a {
  	display: block;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
  	padding: 15px 0;
  	text-transform: uppercase;
	background: #fff0a0;
	transition: background .3s ease;
}

ul a:before  { 
  	font-family: FontAwesome;
  	padding-right: 5px; 
  	font-size: 22px; 
  	display: inline-block; 
}

ul li:nth-child(1) a:before {
  	content: '\f015';
}

ul li:nth-child(2) a:before {
	content: '\f0eb';
}

ul li:nth-child(3) a:before {
	content: '\f115';
}

ul li:nth-child(4) a:before {
	content: '\f1ea';
}

ul li:nth-child(5) a:before {
	content: '\f03e';
}

ul a:hover {
	background: #ffee91;
}	



/* SECOND LINE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2 {
	text-align: center;
	padding: 5px;
}

h2 a {
  	padding: 5px;
  	border-bottom: 2px solid #FEB41C; 
  	transition: all .3s ease;
}

h2 a:hover {
	background: #FEB41C;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
  	nav {
  		margin: 0 5px;
  	}
  
	div.row {
		height: auto;
	}
  
  	h1 {
    	font-size: 18px;
  	}

	h1, ul {
		margin: 20px 0;
	}

	ul a {
		font-size: 0;
	}

	ul a:before {
		padding: 0 5px;
		font-size: 32px;
	}
}

@media screen and (max-width: 500px) {
	ul a:before {
    	font-size: 22px;
	}
}